{"SDKInfo":"{\"m_type\":0,\"m_content\":\"{\\\"SchemeName\\\":\\\"IOS\\\",\\\"LogScheme\\\":[],\\\"LoginScheme\\\":[{\\\"SDKName\\\":\\\"NullLoginSDKClass\\\",\\\"SDKContent\\\":\\\"{\\\\\\\"m_SDKName\\\\\\\":\\\\\\\"\\\\\\\"}\\\"}],\\\"ADScheme\\\":[],\\\"PayScheme\\\":[],\\\"OtherScheme\\\":[],\\\"AndroidkeystoreName\\\":\\\"\\\",\\\"AndroidkeystorePass\\\":\\\"\\\",\\\"AndroidkeyaliasName\\\":\\\"\\\",\\\"AndroidkeyaliasPass\\\":\\\"\\\"}\",\"m_enumType\":\"\"}"}